In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
my_index = ['india','usa','japan']

In [4]:
my_data = [1666,1777,1980]

In [7]:
my_ser = pd.Series(my_data,my_index)
my_ser

india    1666
usa      1777
japan    1980
dtype: int64

In [8]:
my_ser[0]

C:\Users\abhib\AppData\Local\Temp\ipykernel_2592\3347339215.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  my_ser[0]

np.int64(1666)

In [9]:
my_ser['india']

np.int64(1666)

In [10]:
fruits = {'banana':57,'apple':56,'guave':77}

In [11]:
pd.Series(fruits)

banana    57
apple     56
guave     77
dtype: int64

In [12]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [13]:
q1_sales = pd.Series(q1)
q2_sales = pd.Series(q2)

In [14]:
q1_sales

Japan     80
China    450
India    200
USA      250
dtype: int64

In [15]:
q2_sales

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [16]:
q1_sales * 2 #we can do opereation on pandas series

Japan    160
China    900
India    400
USA      500
dtype: int64

In [17]:
q1_sales + q2_sales

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [19]:
q1_sales.add(q2_sales,fill_value= 0)#fill_value is a parameter it solve the problem of NaN it add the zero to data values

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [22]:
q1_sales.dtype

dtype('int64')

In [23]:
pd.Series

pandas.core.series.Series